[Unit]
Description = Trigger the automated backup mechanism

[Timer]
OnCalendar = daily
AccuracySec = 1h
Persistent = true

[Install]
WantedBy = timers.target
